<!DOCTYPE html>
<html>
<head>
    <title>Formulir Aplikasi</title>
</head>
<body>
<h1>Formulir Aplikasi</h1>
<form action="/submit" method="post" enctype="multipart/form-data">
    <label for="app-name">Nama Aplikasi:</label>
    <input type="text" id="app-name" name="app-name"><br><br>
    <label for="image">Gambar:</label>
    <input type="file" id="image" name="image" accept="image/*"><br><br>
    <label for="description">Keterangan:</label>
    <textarea id="description" name="description" rows="4" cols="50"></textarea><br><br>
    <label for="installer">Installer:</label>
    <input type="file" id="installer" name="installer" accept=".exe,.msi"><br><br>
    <label for="version">Nomor Versi:</label>
    <input type="text" id="version" name="version"><br><br>
    <label for="price">Harga:</label>
    <input type="number" id="price" name="price"><br><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>